$white: #fff;
$black: #000;
$grey: #5c6369;
$theme: #fea100;
$pink: #fe4c8d;
$muted: #edf1f3;
$footer-bg: #373844;
$footer-text: #adb2b7;


$ff-pd: 'Playfair Display', serif;;
$ff-sin: 'Sintony', sans-serif;