#home {
	.reservation {
		margin-top: 30px;
		margin-bottom: 100px;
		.headline {
			color: $black;
			font-family: $ff-pd;
			text-align: center;
			font-size: 2.1875rem;
			font-weight: bold;
			margin-bottom: 28px;
		}
		.image {

		}
		.form-area {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.form {
				.line {
					.field {
						input {
							border: none;
							padding: 0;
							&::placeholder {
								font-family: $ff-sin;
								font-size: 0.875rem;
								color: #363d43;
								padding-bottom: 8px;
								transition: color 300ms;
							}
							&:focus::placeholder {
								color: $theme;
							}
							&:valid {
								border-bottom: 1px solid #c7d1d6;
							}
						}
					}
					.name input {
						background: url('img/icon_name.png') no-repeat;
						background-position: right center;
					}
					.date input {
						background: url('img/icon_calendar.png') no-repeat;
						background-position: right center;
					}
					.time input {
						background: url('img/icon_time.png') no-repeat;
						background-position: right center;
					}
					.email input {
						background: url('img/icon_email.png') no-repeat;
						background-position: right center;
					}
					.guests input {
						background: url('img/icon_guests.png') no-repeat;
						background-position: right center;
					}
					.phone input {
						background: url('img/icon_phone.png') no-repeat;
						background-position: right center;
					}
				}
			}
			.submit-or-call {
				margin: 0 0 32px;
				.button-div {
					display: flex;
					justify-content: center;
					margin-top: 32px;
					.form-button {
						display: block;
						background: none;
						border: none;
						width: 100%;
						max-width: 180px;
						min-width: 160px;
						text-align: center;
						.box {
							width: 100%;
							height: 47px;
							background: $theme;
							position: relative;
							border-radius: 3px;
							text-align: center;
							&::after {
								content: '';
								position: absolute;
								top: 3px;
								right: 3px;
								bottom: 3px;
								left: 3px;
								border: 1px solid $white;
								border-radius: 3px;
							}
							p {
								display: inline-block;
								margin: 0;
								color: $white;
								text-transform: uppercase;
								font-family: $ff-sin;
								font-size: 14px;
								padding-top: 14px;
								font-weight: bold;
							}
						}
					}
				}
				.info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-top: 32px;
					.call {
						display: inline-block;
						max-width: 180px;
						margin: 0 auto;
						border-right: 1px solid #c7d1d6;
						max-height: 50px;
						.call-to, .action {
							text-transform: uppercase;
							font-family: $ff-sin;
							font-weight: bold;
							font-size: 13px;
							margin: 0;
							display: inline-block;
							padding: 0 8% 0 16%;
							text-align: right;
						}
						.call-to {
							color: $black;
						}
						.action {
							color: $pink;
						}
					}
				}
				.phone {
					margin-top: 32px;
					.number {
						display: inline-block;
						max-width: 180px;
						margin: 0 auto;
						font-family: $ff-pd;
						color: $black;
						font-weight: bold;
						text-align: right;
						font-size: 24px;
						padding-left: 4px;
					}
				}
			}
		}
	}
}